@import '~Vehicle.scss';

.vehicle {
  position: absolute;
  z-index: 1250;

  @at-root {
    .vehicle--police-x {
      top: 27px;
      left: 56px;
      @include sprite($-vehicle-police-x);
    }

    .vehicle--police-y {
      top: 83px;
      left: -110px;
      @include sprite($-vehicle-police-y);
    }
  }
}
