@import '~Vehicle.sass'
@import 'src/assets/styles/z-index'

.vehicle
  position: absolute
  z-index: $z-index-vehicle

  @at-root
    .vehicle--police-x
      +sprite($-vehicle-police-x)
      top: 27px
      left: 56px

    .vehicle--police-y
      +sprite($-vehicle-police-y)
      top: 83px
      left: -110px
