@import 'src/assets/styles/variables';
@import 'src/assets/styles/colors';

.car-picker {
  position: absolute;
  transition: all 0.9s ease-out;
  top: 0;
  left: 0;
  z-index: 7000;
}

.car-picker__background {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $gray-dark;
  overflow-y: auto;

  @media (max-width: $sm-res) {
    padding: 10px;
  }
}

.car-picker--hide {
  margin-top: -100vh;
}
