@import 'src/assets/styles/colors'
@import 'src/assets/styles/mixins/headers'

.page-context-xp
  margin-top: -45px
  color: $yellow-dark

  @at-root
    .page-context-xp__header
      +header-h1
      padding-bottom: 5px

    .page-context-xp__subheader
      +header-h2
      padding-bottom: 10px
      color: #fff
      border-bottom: 2px solid $gray-light-1

    .page-context-xp__text
      padding: 10px
      color: #fff
