{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["import", {"libraryName": "react-bootstrap", "libraryDirectory": "lib", "camel2DashComponentName": false}, "react-bootstrap"],
  ]
}
