@import 'src/assets/styles/variables';
@import 'src/assets/styles/colors';

.page-context-contact {
  color: #FFF;
  margin-top: -45px;

  @at-root {
    .page-context-contact__header {
      text-align: center;
      font-size: 30px;
      margin: 0;
      padding: 10px 0;
      border-bottom: 2px solid #FFF;
    }

    .page-context-contact__subheader {
      display: block;
      margin-top: 5px;
      font-size: 16px;
      font-weight: normal;
    }

    .page-context-contact__twitter {
      vertical-align: middle;
      margin: 15px 0;
    }

    .twitter-follow-button {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
    }

    a.twitter-follow-button {
      width: 144px;
      height: 28px;
      padding: 1px 10px 1px 9px;
      border-radius: 4px;
      font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
      text-decoration: none;
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      background-color: #1b95e0;
      outline: 0;
      line-height: 26px;
    }
  }
}
