@import 'src/assets/styles/colors';
@import 'src/assets/styles/variables';

.page-context-accordion {
  margin-top: 15px;

  @at-root {
    a {
      display: block;
    }

    .page-context-accordion__header {
      padding: 4px 10px;
      background: $gray-dark;
      border: 1px solid #FFF;
      margin-bottom: 10px;
      color: #FFF;

      @media (max-width: $l-res) {
        text-align: center;
      }

      @media (min-width: $sm-res) {
        border-color: $gray-light;
        box-shadow: inset 0px 0px 0px 1px #FFF, 2px 2px 0px 0px $gray-medium-2;
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: inset 0px 0px 0px 1px $yellow-dark, 2px 2px 0px 0px $gray-medium-2;
        }
      }
    }

    .page-context-accordion__header-body {
      padding: 10px 0;
      text-align: left;

      @media (max-width: $l-res) {
        margin-top: 10px;
        border-top: 1px solid $yellow-dark;
      }
    }

    .page-context-accordion__left-info {
      color: $yellow;
      vertical-align: middle;
      display: inline-block;
      width: 130px;
    }

    .page-context-accordion__text-box {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;

      @media (max-width: $l-res) {
        display: block;
      }
    }

    .page-context-accordion__text {
      border-left: 1px solid $yellow;
      margin-left: 7px;
      padding-left: 7px;

      @media (max-width: $l-res) {
        border-left: 0;
      }
    }

    .page-context-accordion__orange-link {
      display: block;
      text-decoration: underline;
      display: inline-block;
      vertical-align: middle;
      border-left: 1px solid $yellow;
      margin-left: 137px;
      padding-left: 7px;
      color: $orange-light;
      word-break: break-all;

      &:hover {
        color: $orange-dark;
      }

      @media (max-width: $l-res) {
        display: block;
        margin-left: 0;
        border-left: 0;
        text-align: center;
      }
    }

    .page-context-accordion__margined-description {
      margin-top: 10px;
    }

    .page-context-accordion__left-info--right {
        text-align: right;

        @media (max-width: $l-res) {
          text-align: center;
        }
    }
  }
}
