@import 'src/assets/styles/variables';
@import 'src/assets/styles/colors';
@import '~CarPicker.scss';
@import '~Player.scss';

.car-picker-pick {
  text-align: center;

  @at-root {
    .car-picker-pick__box {
      display: inline-block;
      margin: 0 auto;
      border: 1px solid #FFF;
      box-shadow: 3px 3px 0px 1px #2d2f31;
    }

    .car-picker-pick__graphic {
      @include sprite($-car-picker-car-bg);
    }

    .car-picker-pick__atruck {
      @include sprite($-player-atruck);
      position: relative;
      top: 20px;
      left: 20px;
    }

    .car-picker-pick__batmobil {
      @include sprite($-player-batmobil);
      position: relative;
      top: 30px;
      left: 5px;
    }

    .car-picker-pick__text {
      text-align: center;
      padding: 10px;
      font-size: 17px;
      background: $gray-dark-1;
    }

    .car-picker-pick__button {
      position: relative;
      display: block;
      width: 183px;
      margin: 20px auto 0;
      padding: 7px 15px;
      font-size: 21px;
      border: 1px solid $red-light;
      box-shadow: 3px 3px 0px 1px $gray-medium-1;
      background: $red-medium;

      @media (max-width: $sm-res) {
        margin-top: 10px;
      }

      &:hover {
        border-color: #FFF;
        background: $red-light;
      }

      &:focus {
        outline: 0;
        border: 1px solid #FFF;
      }

      &:active {
        box-shadow: none;
        left: 3px;
        top: 3px;
      }
    }
  }
}
