@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/component-animations'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/close'
@import '~bootstrap-sass/assets/stylesheets/bootstrap/modals'
@import 'src/assets/styles/mixins/screens'
@import 'src/assets/styles/variables'
@import 'src/assets/styles/z-index'
@import 'modal-newspaper'
@import 'modal-xp'
@import 'modal-webdev'
@import 'modal-games'
@import 'modal-mobile'
@import 'modal-lab'
@import 'modal-contact'

.modal
  z-index: $z-index-modal

  &.fade
    +sm-res-max
      transition: none

      .modal-dialog
        transition: none

  .modal-header
    border: 0

    .close
      position: relative
      z-index: $z-index-modal-close
      color: #fff
      text-shadow: none
      opacity: 1

      &:hover
        color: #000

.modal-backdrop
  z-index: $z-index-backdrop

  &.fade
    +sm-res-max
      transition: none
