@import 'src/assets/styles/colors'

.page-context-lab
  @at-root
    .page-context-lab__header
      text-align: center
      font-size: 30px
      margin: 0
      padding: 5px 0 0
      background: $orange-dark
      color: $orange
      border: 2px solid $orange-light

    .page-context-lab__subheader
      display: block
      margin-top: 5px
      font-size: 16px
      border: 0
      font-weight: normal
      color: #ffffff
      background: $orange-dark-1
      padding: 10px

    .page-context-lab__text-box
      border: 2px solid $orange-light
      margin-top: 15px
      padding: 0 10px
      background: $orange-dark-1
      color: #FFF
