@import '~Background.scss';
@import 'src/assets/styles/variables';

.background {
  position: relative;
  width: 5133px;
  height: 2639px;
  @include sprite($-background-background);

  @at-root {
    .background--welcome {
      top: 0;
      left: 0;
    }

    .background--welcome {
      top: -270.317px;
      left: -540.208px;
    }

    .background--newsstand {
      top: -556.134px;
      left: -1111.39px;
    }

    .background--xp {
      top: -753.292px;
      left: -1505.4px;
    }

    .background--webdev {
      top: -1016.17px;
      left: -2030.74px;
    }

    .background--arcade {
      top: -1218.29px;
      left: -2434.65px;
    }

    .background--mobile {
      top: -1481.16px;
      left: -2960px;
    }

    .background--lab {
      top: -1678.32px;
      left: -3354px;
    }

    .background--contact {
      top: -1904px;
      left: -3805px;
    }

    .background__arrow {
      cursor: pointer;
      position: fixed;
      bottom: 5%;
      width: 0;
      height: 0;
      z-index: 10000;
      opacity: 0.8;

      &:hover {
        border-left-color: #FFF;
      }
    }

    .background__arrow--left {
      left: 5%;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      border-right: 45px solid #000;
    }

    .background__arrow--right {
      right: 5%;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      border-left: 45px solid #000;
    }

    .background__scroll-info {
      position: fixed;
      bottom: 15%;
      font-size: 25px;
      text-transform: uppercase;
      right: 50%;
      transform: translateX(50%);
      color: white;
      background: #000;
      padding: 10px;
      text-align: center;
      z-index: 10000;

      @media (max-width: $sm-res) {
        font-size: 19px;
      }
    }

    .background__scroll-info--mobile {
      bottom: 5.8%;
    }
  }
}
