@import 'src/assets/styles/variables';
@import 'src/assets/styles/colors';

.car-picker-container {
  position: relative;
  top: 15%;
  background: $gray-medium;
  width: 600px;
  margin: 0 auto;
  box-shadow: 4px 4px 0px 1px $gray-medium-2;

  @media (max-width: $sm-res) {
    width: 100%;
    top: 0;
  }

  @at-root {
    .car-picker-container__header {
      font-size: 40px;
      text-align: center;
      background: $gray-dark-1;
      border-bottom: 1px solid #FFF;
      padding: 5px 10px;
      margin: 0;
      font-weight: normal;
    }

    .car-picker-container__header-subtext {
      display: block;
      font-size: 20px;
      margin: 5px 0;
    }

    .car-picker-container__box {
      width: 50%;
      display: inline-block;
      padding: 15px;

      @media (max-width: $sm-res) {
        width: 100%;
        padding: 10px;
      }
    }
  }
}
