@import '~Person.sass'

.person
  position: absolute

  @at-root
    .person--beach1
      +sprite($-person-beach1)
      top: 265px
      left: -315px

    .person--beach2
      +sprite($-person-beach2)
      top: 260px
      left: -300px

    .person--guy1-briefcase
      +sprite($-person-guy1-briefcase)
      top: 225px
      right: 147px

    .person--guy2-bag
      +sprite($-person-guy2-bag)
      top: 226px
      right: 124px

    .person--guy3-briefcase
      +sprite($-person-guy3-briefcase)
      top: 52px
      right: 325px

    .person--guy4-newspaper
      +sprite($-person-guy4-newspaper)
      top: 120px
      right: 111px

    .person--guy5-jumping1
      +sprite($-person-guy5-jumping1)
      top: 88px
      right: 380px

    .person--guy6-jumping2
      +sprite($-person-guy6-jumping2)
      top: 93px
      right: 344px

    .person--guy7-cheering
      +sprite($-person-guy7-cheering)
      top: 98px
      right: 176px

    .person--girl8-sitting
      +sprite($-person-girl8-sitting)
      top: 134px
      right: 92px

    .person--guy9-fishing
      +sprite($-person-guy9-fishing)
      top: 365px
      right: 375px

    .person--guy10-bag
      +sprite($-person-guy10-bag)
      top: 198px
      right: 425px

    .person--guy11-bag
      +sprite($-person-guy11-bag)
      top: 215px
      right: 405px

    .person--girl12-laptop
      +sprite($-person-girl12-laptop)
      top: 208px
      right: 113px

    .person--guy13-jumping
      +sprite($-person-guy13-jumping)
      top: 362px
      right: 75px

    .person--guy14-skating
      +sprite($-person-guy14-skating)
      top: 170px
      left: -180px

    .person--girl15-gameboy
      +sprite($-person-girl15-gameboy)
      top: 275px
      right: 105px

    .person--guy16-manhole
      +sprite($-person-guy16-manhole)
      top: 248px
      left: -180px

    .person--guy17-photo
      +sprite($-person-guy17-photo)
      top: 345px
      left: 130px

    .person--radio
      +sprite($-person-radio)
      top: 377px
      left: 158px

    .person--pair18-photo
      +sprite($-person-pair18-photo)
      top: 33px
      left: 165px

    .person--guy19-icecream
      +sprite($-person-guy19-icecream)
      top: 220px
      left: -170px

    .person--guy20-mib
      +sprite($-person-guy20-mib)
      top: 330px
      left: 55px

    .person--guy21-doc
      +sprite($-person-guy21-doc)
      top: 334px
      left: 71px

    .person--guy22-doc2
      +sprite($-person-guy22-doc2)
      top: 342px
      left: 96px
