@import 'src/assets/styles/mixins/headers'
@import 'src/assets/styles/mixins/screens'
@import 'src/assets/styles/colors'
@import 'src/assets/styles/variables'

$light-blue: #589fc7

.page-context-mobile
  margin: 15px
  padding: 15px
  background: #417694
  color: #fff
  border: 2px solid $light-blue
  border-radius: 3px

  +sm-res-min
    box-shadow: 0 4px 0 1px #244152

  @at-root
    .page-context-mobile__header
      +header-h1
      padding-bottom: 5px
      text-transform: capitalize

    .page-context-mobile__subheader
      +header-h2
      padding-bottom: 10px
      border-bottom: 2px solid $light-blue

.page-context-mobile__footer
  height: 40px
  background: #343434
