@import '~Building.sass'
@import 'src/assets/styles/z-index'

.building
  position: absolute
  z-index: $z-index-building

  @at-root
    .building--tunnel
      +sprite($-building-tunnel)
      position: absolute
      top: -64px
      left: 369px

    .building--welcome
      +sprite($-building-welcome)
      top: 251px
      left: 1174px

    .building--newsstand
      +sprite($-building-newsstand)
      top: 575px
      left: 1790px

    .building--xp
      +sprite($-building-xp)
      top: 736px
      left: 2160px

    .building--webdev
      +sprite($-building-webdev)
      top: 856px
      left: 2660px

    .building--arcade
      +sprite($-building-arcade)
      top: 1115px
      left: 3135px

    .building--mobile
      +sprite($-building-mobile)
      top: 1260px
      left: 3570px

    .building--lab
      +sprite($-building-lab)
      top: 1515px
      left: 4040px

    .building--contact
      +sprite($-building-contact)
      top: 1880px
      left: 4550px

    .building--police-line
      +sprite($-building-police-line)
      top: 2210px
      left: 4510px
