@import '~Building.scss';

.building {
  position: absolute;
  z-index: 1000;

  @at-root {
    .building--tunnel {
      position: absolute;
      top: -64px;
      left: 369px;
      @include sprite($-building-tunnel);
    }

    .building--welcome {
      top: 251px;
      left: 1174px;
      @include sprite($-building-welcome);
    }

    .building--newsstand {
      top: 575px;
      left: 1790px;
      @include sprite($-building-newsstand);
    }

    .building--xp {
      top: 736px;
      left: 2160px;
      @include sprite($-building-xp);
    }

    .building--webdev {
      top: 856px;
      left: 2660px;
      @include sprite($-building-webdev);
    }

    .building--arcade {
      top: 1115px;
      left: 3135px;
      @include sprite($-building-arcade);
    }

    .building--mobile {
      top: 1260px;
      left: 3570px;
      @include sprite($-building-mobile);
    }

    .building--lab {
      top: 1515px;
      left: 4040px;
      @include sprite($-building-lab);
    }

    .building--contact {
      top: 1880px;
      left: 4550px;
      @include sprite($-building-contact);
    }

    .building--police-line {
      top: 2210px;
      left: 4510px;
      @include sprite($-building-police-line);
    }
  }
}
