@import '~Player.scss';

.player {
  position: absolute;
  z-index: 1000;
  top: 263px;
  left: 615px;
  pointer-events: none;

  @at-root {
    .player--batmobil {
      top: 275px;
      left: 700px;
      @include sprite($-player-batmobil);
    }

    .player--atruck {
      left: 730px;
      @include sprite($-player-atruck);
    }
  }
}
