@import '~Player.sass'
@import 'src/assets/styles/z-index'

.player
  position: absolute
  z-index: $z-index-player
  top: 263px
  left: 615px
  pointer-events: none

  @at-root
    .player--batmobil
      +sprite($-player-batmobil)
      top: 275px
      left: 700px

    .player--atruck
      +sprite($-player-atruck)
      left: 730px
