@font-face {
  font-family: 'Munro';
  src: url('../font/munro.woff2') format('woff2'),
       url('../font/munro.woff') format('woff'),
       url('../font/munro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
